In [19]:
import pandas as pd

from sklearn.metrics import mean_squared_error

def rmse(y, pred):
    return round(mean_squared_error(y, pred)**0.5, 2)

In [20]:
svd = pd.read_csv('SVD.csv')

In [21]:
svd

        user_id    isbn  rating  pred_rating
0         70753  137084       1            3
1             0  137085       5           -1
2             0  137086       5           -1
3         70754  137087      10            3
4             3  137088       1           -1
...         ...     ...     ...          ...
186022    70746  141660       1            3
186023    70746  138471       7            3
186024    70746  146125       1            3
186025    70746  173277       7            3
186026    70750  173278       1            3

[186027 rows x 4 columns]

In [22]:
rmse(svd.rating, svd.pred_rating.clip(1, 10))

4.11